*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
}
.navbar{
    width: 100%;
    height: 474px;
    position: relative;
    flex-direction: column;
}
.join-us-button{
    flex-direction: column;
    display: flex;
    top: 276px;
    position: absolute;
    left: 170px;
}
.nav-list{
    flex-direction: column;
    display: flex;
    top: 103px;
    position: absolute;
    left: 185px;
    font-size: 28px;
}
.h-nav-resp{
    height: 72px;
}
.v-class-resp{
    opacity: 0;
}
.img_logo{
    top: -32px;
    position: absolute;
    left: 0px;
}
.burger{
    display: block;
}






.supplement{
    height: 814px;
}
.and{
    font-size: 26px;
    width: 353px;
    left: 60px;
    top: 82px;
}
.whey{
    width: 163px;
    height: 163px;
    top: 137px;
    left: 124px;
}
#whey{
    width: 196px;
    height: 38px;
    left: 106px;
    font-size: 20px;
    top: 311px;
}
.multivitamins{
    width: 163px;
    height: 163px;
    left: 124px;
    top: 385px;
}
#multivitamins{
    width: 196px;
    height: 38px;
    left: 106px;
    font-size: 20px;
    top: 560px;
}
.preworkout{
    width: 163px;
    height: 163px;
    left: 124px;
    top: 617px;
}
#preworkout{
    width: 196px;
    height: 38px;
    left: 106px;
    font-size: 20px;
    top: 792px;
}
.tima{
    width: 100%;
    height: 836px;
}
.machine{
    top: 894px;
    font-size: 27px;
    width: 353px;
    left: 79px;
}
.alina{
    top: 960px;
    width: 163px;
    height: 163px;
    left: 124px;
}
#alina{
    top: 1135px;
    width: 196px;
    height: 38px;
    left: 106px;
    font-size: 20px;
}
.heidi{
    top: 1198px;
    width: 163px;
    height: 163px;
    left: 124px;
}
#heidi{
    top: 1373px;
    width: 196px;
    height: 38px;
    left: 106px;
    font-size: 20px;
}
.fitnish{
    top: 1434px;
    width: 163px;
    height: 163px;
    left: 124px;
}
#fitnish{
    top: 1609px;
    width: 196px;
    height: 38px;
    left: 106px;
    font-size: 20px;
}

/*apparel*/
.keagan{
    /* position: relative; */
    width: 100%;
    height: 836px;
}
.merchandise{
    top: 1731px;
    font-size: 27px;
    width: 353px;
    left: 49px;
}
.running{
    top: 1793px;
    width: 163px;
    height: 163px;
    left: 124px;
}
#running{
    top: 1968px;
    width: 196px;
    height: 38px;
    left: 106px;
    font-size: 20px;
}
.yoga{
    top: 2033px;
    width: 163px;
    height: 163px;
    left: 124px;
}
#yoga{
    top: 2208px;
    width: 196px;
    height: 38px;
    left: 106px;
    font-size: 20px;
}
.zumba{
    top: 2275px;
    width: 163px;
    height: 163px;
    left: 124px;
}
#zumba{
    top: 2450px;
    width: 196px;
    height: 38px;
    left: 106px;
    font-size: 20px;
}

/* star */
.star{
    height: 340px;
    width: 100%;
    /* position: relative; */
}
.logo{
    width: 119px;
    height: 119px;
    top: 2527px;
    left: 145px;
}
.priority{
    top: 2595px;
    font-size: 14px;
    width: 227px;
    left: 124px;
}
.company{
    top: 2635px;
    left: 40px;
    font-size: 18px;
    width: 11px;
}
.at{
    top: 2659px;
    left: 58px;
    font-size: 15px;
    width: 11px;
    font-family: none;
}
.cr{
    top: 2676px;
    left: 57px;
    font-size: 15px;
    width: 11px;
    font-family: none;
}
.bl{
    top: 2693px;
    left: 57px;
    font-size: 15px;
    width: 11px;
    font-family: none;
}
.tc{
    top: 2710px;
    left: 56px;
    font-size: 15px;
    width: 123px;
    font-family: none;
}
.contact{
    top: 2635px;
    left: 162px;
    font-size: 18px;
    width: 11px;
}
.hf{
    /* position: relative; */
    top: 2659px;
    left: 175px;
    font-size: 15px;
    width: 11px;
    font-family: none;
}
.pr{
    /* position: relative; */
    top: 2676px;
    left: 187px;
    font-size: 15px;
    width: 11px;
    font-family: none;
}
.mb{
    /* position: relative; */
    top: 2693px;
    left: 187px;
    font-size: 15px;
    width: 11px;
    font-family: none;
}
.more{
    top: 2635px;
    font-size: 18px;
    width: 11px;
    left: 294px;
}
.pg{
    /* position: relative; */
    top: 2659px;
    left: 297px;
    font-size: 15px;
    width: 11px;
    font-family: none;
}
.pl{
    /* position: relative; */
    top: 2676px;
    left: 297px;
    font-size: 15px;
    width: 11px;
    font-family: none;
}
.mt{
    /* position: relative; */
    top: 2693px;
    left: 297px;
    font-size: 13px;
    width: 11px;
    font-family: none;
}

/* tags */
.tags{
    top: 2735px;
    left: 140px;
    font-size: 25px;
    width: 170px;
}
.ab{
    display: none;
}
.workout{
    top: 2779px;
    left: 170px;
    font-size: 15px;
    width: 79px;
    height: 25px;
    border-radius: 5px;
}
.nutrition_1{
    top: 2779px;
    left: 53px;
    font-size: 15px;
    width: 79px;
    height: 25px;
    border-radius: 5px;
}
.ab1{
    top: 2779px;
    left: 286px;
    font-size: 15px;
    width: 79px;
    height: 25px;
    border-radius: 5px;
}
.boxing{
    top: 2810px;
    left: 53px;
    font-size: 15px;
    width: 79px;
    height: 25px;
    border-radius: 5px;
}
.trainer{
    top: 2810px;
    left: 170px;
    font-size: 15px;
    width: 79px;
    height: 25px;
    border-radius: 5px;
}
.facility{
    top: 2810px;
    left: 286px;
    font-size: 15px;
    width: 79px;
    height: 25px;
    border-radius: 5px;
}
.vector{
    top: 2845px;
    width: 22px;
    height: 22px;
    left: 64px;
    display: block;
    position: absolute;
}
.vector-1{
    top: 2845px;
    width: 22px;
    height: 22px;
    left: 145px;
    display: block;
    position: absolute;
}
.vector-2{
    top: 2845px;
    width: 22px;
    height: 22px;
    left: 233px;
    display: block;
    position: absolute;
}
.vector-3{
    top: 2845px;
    width: 22px;
    height: 22px;
    left: 321px;
    display: block;
    position: absolute;
}

/* footer */
.footer1{
    top: 2878px;
    position: absolute;
    font-size: 13px;
    width: 100%;
    height: 23px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.footer{
    display: none;
}

/* forms */
.form-popup{
    display: none;
    position: fixed;
    top: 64px;
    z-index: 2;
}
.form-container{
    position: relative;
    left: 68px;
    top: 20px;
    width: 289px;
    height: 298px;
}
.cancel_btn{
    top: -20px;
    font-size: 11px;
}
.plan{
    height: 23px;
    font-size: 13px;
}
.name{
    font-size: 15px;
    top: 0px;
    left: 9px;
}
#name{
    width: 214px;
    font-size: 9px;
    height: 11px;
    top: 20px;
    left: 9px;
}
.email{
    font-size: 15px;
    top: 33px;
    left: 9px;
}
#email{
    width: 214px;
    font-size: 9px;
    height: 11px;
    top: 54px;
    left: 9px;
}
.number{
    font-size: 15px;
    top: 67px;
    left: 9px;
}
#number{
    width: 214px;
    font-size: 9px;
    height: 11px;
    top: 88px;
    left: 9px;
}
.duration{
    top: 107px;
    font-size: 15px;
    left: 9px;
}
input[type='radio']{
    width: 10px;
    height: 10px;
}
#monthly{
    top: 126px;
    left: 9px;
}
.month_3{
    top: 121px;
    font-size: 11px;
    left: 19px;
}

#yearly{
    top: 126px;
    left: 82px;
}
.yearly_1{
    top: 121px;
    font-size: 11px;
    left: 93px;
}


.mode{
    top: 140px;
    font-size: 14px;
    left: 9px;
}
.cash{
    top: 156px;
    font-size: 11px;
    left: 20px;
}
#cash{
    top: 160px;
    left: 9px;
}
.online{
    top: 156px;
    font-size: 11px;
    left: 93px;
}
#online{
    top: 160px;
    left: 82px;
}


.train{
    top: 176px;
    font-size: 13px;
    left: 10px;
}
.required{
    top: 190px;
    font-size: 11px;
    left: 20px;
}
#required{
    top: 193px;
    font-size: 9px;
    left: 9px;
}
.not_required{
    top: 204px;
    font-size: 11px;
    left: 20px;
}
#not_required{
    top: 207px;
    font-size: 9px;
    left: 9px;
}
.accept{
    top: 218px;
    font-size: 11px;
    left: 20px;
    width: 198px;
}
#accept{
    top: 222px;
    font-size: 9px;
    left: 9px;
}
input[type='checkbox']{
    width: 10px;
    height: 10px;
}

.buy_btn{
    top: 258px;
    font-size: 9px;
    left: 98px;
    width: 84px;
    height: 25px;
}