body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
.navbar{
    background-color: #613a3a;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 64px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: fixed;
    width: 100%;
    z-index: 2;
}
img{
    width: 167px;
    height: 163px;
    display: flex;
    margin-right: auto;
}
.nav-list{
    width: 100%;
    background-color: #613a3a;
    display: flex;
    align-items: center;
    height: 60px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: x-large;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
.join-us-button {
    background-color: #c28712;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 23px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: x-large;
    margin-right: 20px;
    cursor: pointer;
}
.join-us-button:hover{
    background-color: #7c8595;
}


.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 39px;
    background-color: white;
    height: 5px;
    margin: 7px 1px;
    background-color: #ffa500;
}

/* 1st section */
.supplement{
    width: 148%;
    height: 700px;
}
.and{
    font-size: 47px;
    width: 581px;
    left: 332px;
}
.whey{
    top: 256px;
    width: 257px;
    height: 262px;
    left: 33px;
}
#whey{
    width: 294px;
    left: 16px;
    height: 65px;
    font-size: 34px;
    top: 511px;
}
.multivitamins{
    top: 256px;
    width: 257px;
    height: 262px;
    left: 438px;
}
#multivitamins{
    left: 419px;
    width: 294px;
    height: 65px;
    font-size: 34px;
    top: 511px;
}
.preworkout{
    top: 256px;
    width: 257px;
    height: 262px;
    left: 841px;
}
#preworkout{
    top: 511px;
    width: 294px;
    height: 65px;
    font-size: 34px;
    left: 826px;
}

/* 2nd Section */
.tima{
    width: 148%;
}
.machine{
    font-size: 47px;
    width: 581px;
    left: 332px;
}
.alina{
    width: 257px;
    height: 262px;
    left: 33px;
    top: 884px;
}
#alina{
    width: 294px;
    left: 16px;
    height: 65px;
    font-size: 34px;
    top: 1135px;
}

.heidi{
    width: 257px;
    height: 262px;
    left: 438px;
    top: 884px;
}
#heidi{
    left: 419px;
    width: 294px;
    height: 65px;
    font-size: 34px;
    top: 1135px;
}

.fitnish{
    width: 257px;
    height: 262px;
    left: 841px;
    top: 884px;
}
#fitnish{
    width: 294px;
    height: 65px;
    font-size: 34px;
    left: 826px;
    top: 1135px;
}

/* 3rd section */
.keagan{
    width: 148%;
    height: 615px;
}
.merchandise{
    font-size: 47px;
    width: 581px;
    left: 332px;
}

.running{
    left: 33px;
    width: 257px;
    height: 262px;
    top: 1500px;
}
#running{
    width: 294px;
    left: 16px;
    height: 65px;
    font-size: 34px;
    top: 1752px;
}

.yoga{
    width: 257px;
    height: 262px;
    top: 1500px;
    left: 438px;
}
#yoga{
    width: 294px;
    left: 422px;
    height: 65px;
    font-size: 34px;
    top: 1752px;
}
.zumba{
    width: 257px;
    height: 262px;
    top: 1500px;
    left: 841px;
}
#zumba{
    width: 294px;
    left: 826px;
    height: 65px;
    font-size: 34px;
    top: 1752px;
}
.star{
    width: 148%;
    height: 434px;
}
.logo{
    width: 213px;
    height: 197px;
    left: 69px;
    position: absolute;
}
.company{
    top: 1940px;
    font-size: 28px;
    left: 387px;
}
.at{
    font-size: 23px;
    left: 417px;
    top: 1989px;
}
.cr{
    font-size: 23px;
    left: 417px;
    top: 2021px;
}
.bl{
    font-size: 23px;
    left: 417px;
    top: 2053px;
}
.tc{
    font-size: 23px;
    left: 417px;
    top: 2085px;
}
.contact{
    top: 1940px;
    font-size: 28px;
    left: 549px;
}
.hf{
    left: 558px;
    font-size: 23px;
    top: 1989px;
}
.pr{
    font-size: 23px;
    left: 579px;
    top: 2021px;
}
.mb{
    font-size: 23px;
    left: 575px;
    top: 2053px;
}
.more{
    top: 1940px;
    font-size: 28px;
    left: 694px;
}
.pg{
    font-size: 23px;
    top: 1989px;
    left: 694px;
}
.pl{
    font-size: 23px;
    top: 2021px;
    left: 694px;
}
.mt{
    font-size: 23px;
    top: 2053px;
    left: 694px;
}

.tags{
    top: 1904px;
    right: -292px;
    font-size: 33px;
}
.ab{
    right: -137px;
    top: 1961px;
}
.workout{
    right: -337px;
    top: 1961px;
}
.nutrition_1{
    right: -178px;
    top: 2023px;
}
.ab1{
    right: -337px;
    top: 2023px;
}
.boxing{
    right: -178px;
    top: 2086px;
}
.trainer{
    right: -337px;
    top: 2086px;
}
.facility{
    right: -278px;
    top: 2149px;
}
.footer{
    width: 148%;
}