body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
.navbar{
    background-color: #613a3a;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 64px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: fixed;
    width: 100%;
    z-index: 2;
}
img{
    width: 167px;
    height: 163px;
    display: flex;
    margin-right: auto;
}
.nav-list{
    width: 100%;
    background-color: #613a3a;
    display: flex;
    align-items: center;
    height: 60px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: x-large;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
.join-us-button {
    background-color: #c28712;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 23px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: x-large;
    margin-right: 20px;
    cursor: pointer;
}
.join-us-button:hover{
    background-color: #7c8595;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 39px;
    background-color: white;
    height: 5px;
    margin: 7px 1px;
    background-color: #ffa500;
}

/* 1st section */
.ab{
    width: 108%;
}
.h1{
    width: 420px;
    font-size: 76px;
    left: 355px;
    top: 46px;
}
.gym3{
    width: 277px;
    height: 277px;
    left: 23px;
}
.time_1{
    top: 522px;
    left: 68px;
    font-size: 28px;
}
.power{
    top: 564px;
    width: 302px;
    height: 65px;
    font-size: 35px;
    left: 13px;
}
.gym2{
    width: 277px;
    height: 277px;
    left: 411px;
}
.time_2{
    top: 522px;
    font-size: 28px;
    left: 460px;
}
.mixed{
    top: 564px;
    width: 368px;
    height: 65px;
    font-size: 35px;
    left: 367px;
}

.gym4{
    width: 277px;
    height: 277px;
    left: 794px;
}
.time_3{
    top: 522px;
    font-size: 28px;
    width: 199px;
    left: 838px;
}
.level{
    top: 564px;
    width: 320px;
    height: 65px;
    font-size: 35px;
    left: 778px;
}

/* 2nd section */
.training{
    width: 108%;
}
.our{
    top: 700px;
    font-family: "Protest Riot", sans-serif;
    font-size: 46px;
    width: 522px;
    left: 381px;
}
.img_1{
    top: 898px;
    width: 230px;
    height: 330px;
    left: 91px;
}
.john{
    left: 87px;
    top: 1218px;
    width: 242px;
    font-size: 32px;
    height: 52px;
}
.img_2{
    top: 898px;
    width: 230px;
    height: 330px;
    left: 451px;
}
.anais{
    left: 447px;
    top: 1218px;
    width: 242px;
    font-size: 32px;
    height: 52px;
}
.img_3{
    top: 898px;
    width: 230px;
    height: 330px;
    left: 800px;
}
.phil{
    top: 1218px;
    width: 242px;
    font-size: 32px;
    height: 52px;
    left: 795px;
}

/* 3rd section */
.imgslider{
    top: 1377px;
    width: 108%;
    height: 86%;
}
.bruce{
    display: none;
}

/* last section */
.star{
    width: 108%;
}
.logo{
    width: 213px;
    height: 197px;
    left: 54px;
    top: 1943px;
    position: absolute;
}
.priority{
    top: 2049px;
    font-size: 23px;
    width: 352px;
}

.company{
    font-size: 28px;
    left: 387px;
}
.at{
    font-size: 22px;
    top: 2021px;
    left: 422px;
}
.cr{
    font-size: 22px;
    left: 422px;
    top: 2050px;
}
.bl{
    font-size: 22px;
    left: 422px;
    top: 2079px;
}

.contact{
    font-size: 28px;
    left: 551px;
}
.hf{
    font-size: 22px;
    top: 2021px;
    left: 560px;
}
.pr{
    font-size: 22px;
    top: 2050px;
    left: 568px;
}
.mb{
    font-size: 22px;
    top: 2079px;
    left: 564px;
}

.more{
    font-size: 28px;
    left: 713px;
}
.pg{
    font-size: 22px;
    top: 2021px;
    left: 717px;
}
.pl{
    font-size: 22px;
    top: 2050px;
    left: 717px;
}
.mt{
    font-size: 22px;
    top: 2079px;
    left: 717px;
}


.tags{
    right: -27px;
    font-size: 35px;
}
.ab_1{
    right: 112px;
    top: 1981px;
}
.workout{
    right: -72px;
    top: 1981px;
}
.nutrition{
    right: 70px;
    top: 2043px;
}
.gym{
    right: -72px;
    top: 2043px;
}
.boxing{
    right: 70px;
    top: 2104px;
}
.trainer{
    right: -72px;
    top: 2104px;
}
.facility{
    right: -22px;
    top: 2166px;
}
.footer{
    width: 108%;
}