body{
    font-family: Arial, Helvetica, sans-serif;
    /* background-size: auto; */
    /* background-repeat: auto; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1320px;
    /* background-color: rgb(244 216 161); */
}
header{
    background-color: #613a3a;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 64px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: fixed;
    width: 100%;
    z-index: 2;
}
img{
    width: 167px;
    height: 163px;
    display: flex;
    margin-right: auto;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: x-large;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
.join-us-button {
    background-color: #c28712;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 5px 23px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: x-large;
    margin-right: 20px;
    cursor: pointer;
  }

.join-us-button:hover{
    background-color: #7c8595;
}

.blog{
    text-decoration: underline;
    text-decoration-color: yellow;
}

.bg{
    background-color: #f6c976;
    height: 650px;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 39px;
    background-color: white;
    height: 5px;
    margin: 7px 1px;
    background-color: #ffa500;
}

/* blogs 1st page */
.dylan{
    width: 500px;
    height: 424px;
    position: absolute;
    top: 142px;
    left: 82px;
}
#dylan{
    width: 535px;
    top: 118px;
    position: absolute;
    right: 19px;
    font-size: 29px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

/* blogs 2nd page */
.black{
    background-color: black;
    height: 650px;
}
.pexels{
    width: 500px;
    height: 472px;
    right: -611px;
    position: relative;
    top: 162px;
}
.grey{
    background-color: #D9D9D9;
    width: 625px;
    height: 472px;
    top: 811px;
    position: absolute;
    left: 34px;
}
.benefits{
    top: 25px;
    position: absolute;
    left: 38px;
    width: 559px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;

}
.may{
    top: 90px;
    position: absolute;
    left: 81px;
    font-size: 20px;
    font-family: "Radio Canada", sans-serif;
    font-style: normal;
}
.keeps{
    top: 121px;
    position: absolute;
    left: 81px;
    font-size: 20px;
    font-family: "Radio Canada", sans-serif;
    font-style: normal;
}
.muscles{
    top: 152px;
    position: absolute;
    left: 81px;
    font-size: 20px;
    font-family: "Radio Canada", sans-serif;
    font-style: normal;
}
.boosts{
    top: 183px;
    position: absolute;
    left: 81px;
    font-size: 20px;
    font-family: "Radio Canada", sans-serif;
    font-style: normal;
}
.bones{
    top: 214px;
    position: absolute;
    left: 81px;
    font-size: 20px;
    font-family: "Radio Canada", sans-serif;
    font-style: normal;
}
.supports{
    top: 245px;
    position: absolute;
    left: 81px;
    font-size: 20px;
    font-family: "Radio Canada", sans-serif;
    font-style: normal;
}
.helps{
    top: 276px;
    position: absolute;
    left: 81px;
    font-size: 20px;
    font-family: "Radio Canada", sans-serif;
    font-style: normal;
}


/* 3rd section */
.ag{
    background-color: #f6c976;
    height: 650px;
}
.ave{
    right: 122px;
    position: absolute;
    top: 1421px;
    width: 500px;
    height: 500px;
}
#ave{
    width: 535px;
    top: 1395px;
    position: absolute;
    left: 34px;
    font-size: 29px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

/* fitness */
.star{
    background-color: #545050;
    height: 530px;
}
.logo{
    width: 202px;
    height: 170px;
    left: 69px;
    position: absolute;
    top: 2085px;
}
.priority{
    position: absolute;
    top: 2185px;
    color: #ffa500;
    width: 289px;
    left: 55px;
    font-size: 18px;
    font-weight: 600;
}
.company{
    top: 2072px;
    position: absolute;
    left: 403px;
    color: white;
    font-weight: 200;
}
.at{
    top: 2112px;
    position: absolute;
    left: 432px;
    color: white;
    font-weight: 200;
}
.cr{
    top: 2152px;
    position: absolute;
    left: 432px;
    color: white;
    font-weight: 200;
}

.contact{
    top: 2072px;
    position: absolute;
    left: 584px;
    color: white;
    font-weight: 200;
}
.hf{
    top: 2112px;
    position: absolute;
    left: 596px;
    color: white;
    font-weight: 200;
}
.pr{
    top: 2152px;
    position: absolute;
    left: 612px;
    color: white;
    font-weight: 200;
}
.mb{
    top: 2192px;
    position: absolute;
    left: 612px;
    color: white;
    font-weight: 200;
}

.more{
    top: 2072px;
    position: absolute;
    left: 757px;
    color: white;
    font-weight: 200;
}
.pg{
    top: 2112px;
    position: absolute;
    left: 760px;
    color: white;
    font-weight: 200;
}
.pl{
    top: 2152px;
    position: absolute;
    left: 760px;
    color: white;
    font-weight: 200;
}
.mt{
    top: 2192px;
    position: absolute;
    left: 760px;
    color: white;
    font-weight: 200;
}

/* tags */
.tags{
    top: 2015px;
    position: absolute;
    right: 102px;
    text-decoration: underline;
    color: #ffa500;
    font-family: "Radio Canada", sans-serif;
    text-underline-position: under;
    font-weight: 900;
    font-size: 31px;
} 
.ab_1{
    position: absolute;
    right: 258px;
    top: 2077px;
    color: white;
    background-color: #8D8383;
    border-radius: 8px;
    font-weight: 300;
    font-size: 23px;
    width: 102px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 49px;
}
.workout{
    position: absolute;
    right: 51px;
    top: 2077px;
    color: white;
    background-color: #8D8383;
    border-radius: 8px;
    font-weight: 300;
    font-size: 23px;
    width: 179px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 49px;
}
.nutrition{
    position: absolute;
    right: 215px;
    top: 2143px;
    color: white;
    background-color: #FFA500;
    border-radius: 8px;
    font-weight: 300;
    font-size: 23px;
    width: 143px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 49px;
}
.gym{
    position: absolute;
    right: 83px;
    top: 2143px;
    color: white;
    background-color: #8D8383;
    border-radius: 8px;
    font-weight: 300;
    font-size: 23px;
    width: 102px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 49px;
}
.boxing{
    position: absolute;
    right: 215px;
    top: 2208px;
    color: white;
    background-color: #8D8383;
    border-radius: 8px;
    font-weight: 300;
    font-size: 23px;
    width: 143px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 49px;
}
.trainer{
    position: absolute;
    right: 67px;
    top: 2208px;
    color: white;
    background-color: #FFA500;
    border-radius: 8px;
    font-weight: 300;
    font-size: 23px;
    width: 132px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 49px;
}
.facility{
    position: absolute;
    right: 123px;
    top: 2273px;
    color: white;
    background-color: #ffa500;
    border-radius: 8px;
    font-weight: 300;
    font-size: 23px;
    width: 180px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 49px;
} 
.vector{
    display: none;
}
.vector-1{
    display: none;
}
.vector-2{
    display: none;
}
.vector-3{
    display: none;
}

/* footer */
.footer{
    top: 2458px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    font-weight: 600;
    background-color: #ffa500;
    width: 100%;
    height: 53px;
}
.footer1{
    top: -260px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
    font-weight: 600;
    background-color: #ffa500;
    width: 100%;
    height: 53px;
    display: none;
}

.form-popup {
    display: none;
    position: fixed;
    top: 64px;
    z-index: 2;
}

.form-container{
    height: 700px;
    width: 700px;
    background-color: #c28712;
    left: 250px;
    position: fixed;
}
.plan{
    background-color: grey;
    width: 100%;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    top: -22px;
    position: relative;
}

.name{
    left: 28px;
    position: absolute;
    top: 61px;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
}
#name{
    width: 460px;
    left: 29px;
    position: absolute;
    top: 88px;
    height: 21px;
}

/* email */
.email{
    left: 28px;
    position: absolute;
    top: 121px;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
}
#email{
    width: 460px;
    left: 29px;
    position: absolute;
    top: 148px;
    height: 21px;
}

/* number */
.number{
    left: 28px;
    position: absolute;
    top: 181px;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
}
#number{
    width: 460px;
    left: 29px;
    position: absolute;
    top: 207px;
    height: 21px;
}

/* duration */
.duration{
    left: 28px;
    position: absolute;
    top: 216px;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
}
#monthly{
    left: 28px;
    position: absolute;
    top: 265px;
}
.month_3{
    left: 50px;
    position: absolute;
    top: 232px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 100;
}

.yearly_1{
    right: 101px;
    position: absolute;
    top: 233px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 100;
}
#yearly{
    right: 165px;
    position: absolute;
    top: 265px;
}

/* mode of payment */

.mode{
    left: 28px;
    position: absolute;
    top: 270px;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
}
#cash{
    left: 28px;
    position: absolute;
    top: 319px;
}
.cash{
    left: 50px;
    position: absolute;
    top: 286px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 100;
}

.online{
    right: 99px;
    position: absolute;
    top: 286px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 100;
}
#online{
    right: 165px;
    position: absolute;
    top: 319px;
}
.train{
    left: 28px;
    position: absolute;
    top: 326px;
    font-size: 23px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
}

#required{
    left: 28px;
    position: absolute;
    top: 375px;
}
.required{
    left: 50px;
    position: absolute;
    top: 346px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 100;
}

.not_required{
    left: 50px;
    position: absolute;
    top: 373px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 100;
}
#not_required{
    left: 28px;
    position: absolute;
    top: 402px;
}
.accept{
    left: 50px;
    position: absolute;
    top: 401px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 100;
    width: 383px;
}
#accept{
    left: 28px;
    position: absolute;
    top: 429px;
}

.buy_btn{
    width: 149px;
    height: 41px;
    border-radius: 10px;
    border-color: #FFA500;
    background-color: #524D4D;
    color: white;
    top: 421px;
    font-size: 19px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: absolute;
    right: 35px;
}
.cancel_btn{
    top: 0px;
    position: absolute;
    right: 0px;
    font-size: 17px;
}